.site-footer {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo-section img {
    height: 100px; /* Ajustez la taille selon vos besoins */
}

.footer-section {
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 1em;
    line-height: 1.6;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.legal-info a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.legal-info a:hover {
    color: #007bff;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-logo-section, .footer-section {
        margin-bottom: 20px;
    }
}
