<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-logo-section">
            <img src="assets/logo/logo.jpg" alt="Logo de l'Association">
        </div>
        <div class="footer-section">
            <h3>Contact</h3>
            <p><strong>Email:</strong> contact.com</p>
            <p><strong>Téléphone:</strong> +235 123 456 789</p>
        </div>
        <div class="footer-section">
            <h3>Restez Connecté.e</h3>
            <div class="social-links">
                <a href="#"><img src="assets/logo/iconeFacebook.png" alt="Facebook"></a>
                <a href="#"><img src="assets/logo/IconTwiteer.png" alt="Twitter"></a>
                <a href="#"><img src="assets/logo/iconInstagrame.jpg" alt="Instagram"></a>
            </div>
        </div>
        <div class="footer-section legal-info">
            <h3>Informations Légales</h3>
            <a href="#">Politique de confidentialité</a>
            <a href="#">Conditions d'utilisation</a>
        </div>
    </div>
</footer>


