<header class="site-header">
    <div class="header-content">
        <a href="/" class="logo-link">
            <img src="assets/logo/logo.jpg" alt="Logo" class="logo">
        </a>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Accueil</a></li>
                <li class="nav-item"><a href="/missions" class="nav-link">Nos Missions</a></li>
                <li class="nav-item"><a href="/engagez" class="nav-link">Soutez-nous</a></li>
                <li class="nav-item"><a href="/adherez" class="nav-link nav-link-special">Adhérez</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contactez-nous</a></li>
                <li class="nav-item"><a href="/connexion" class="nav-link">Connexion</a></li>   
            </ul>
        </nav>
        <div class="social-links">
            <a href="#"><img src="assets/logo/iconeFacebook.png" alt="Facebook"></a>
            <a href="#"><img src="assets/logo/IconTwiteer.png" alt="Twitter"></a>
            <a href="#"><img src="assets/logo/iconInstagrame.jpg" alt="Instagram"></a>
        </div>
    </div>
</header>

